<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wizquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WizQuiz">

        <!-- LoginActivity si aktiviteti i parë që hapet -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity, hapet vetëm pas login të suksesshëm -->
        <activity android:name=".MainActivity" />

        <!-- Mund të kesh aktivitete të tjera këtu... -->

    </application>
</manifest>
